:root{
    --primary:crimson;
    --dark:#1F2937;
    --darkcolour:#111827;
    --light:#F3F4F6;
}
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
body{
    background:var(--dark);
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;

}
.watch
{
 
  width: 70%;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--darkcolour);
  border-radius: 2rem;
}
.time{

    display: flex;
    font-size: 8rem;
}
.controls{
  
    display: flex;
    margin-top: 2rem;

 

}
.controls button{

    cursor: pointer;
    width: 7rem;
    height: 3rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-left: 2rem;
    background-color: var(--primary);
    color: var(--light);
    
   
    
   
}
